<div class="w-full bg-slate-100">

  <div class="flex justify-between items-center">
    <h1 class="w-screen bg-main text-2xl text-center text-text-light py-5">CATEGORIES</h1>
    <%= button_to destroy_user_session_path, method: :delete, class: "fixed right-0 top-0 p-5 text-lg text-text-light" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
    <% end %>
  </div>

  <% if notice %>
    <p class="alert alert-success text-center bg-main text-text-light"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger text-center bg-main text-text-light"><%= alert %></p>
  <% end %>

  <div id="categories" class="w-full h-full flex flex-col gap-5 p-5">
    <%= render @categories %>
  </div>
  
  <div class="fixed bottom-0 p-5 bg-second w-screen">
    <%= link_to 'NEW', new_category_path, class: "py-3 px-5 border-solid border-2 border-gray-50 bg-second text-text-light block font-medium text-center" %>
  </div>
</div>
